src/storybuilder/**/__pycache__/
.env
uv.lock
scratch_*.html
chroma_db/
sentiment_analysis.db
sentiment_analysis.db-journal
.venv
.venv-314
.venv-315
**/__pycache__/
*.pyc
tests/__pycache__/
dist/
.pytest_cache
.mypy_cache
stories/db/*.db-wal
stories/db/*.db-shm
stories/db/*.db-journal
stories/db/*.db
ibm-credentials.env
2025.db
stories/db/2025.db
stories/db/2004.db
.switchboard/
